@import 'tailwindcss';

@theme {
  --color-background: hsl(52 6% 6%);
  --color-foreground: hsl(52 6% 95%);
  --color-primary: hsl(53 6.7% 50%);
  --color-secondary: hsl(53 2.5% 76%);

  --font-sans: Poppins, sans-serif;
}
